.client-card {
  background-color: white;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  text-align: center;
  width: 300px;
  height: auto;
  position: relative;
  margin-top: 3rem;
  transition: transform 0.3s;
}

.client-card:hover {
  transform: translateY(-5px);
}

.client-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.client-card p {
    width: 300px;
  max-height: 100px;               /* Limit height to 3 lines approx */
  /* overflow: hidden; */
  /* margin-bottom: 20px; */
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: wrap;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  font-size: 0.9rem;
  color: #555;
}

.client-card h4 {
  font-weight: 600;
  color: #0072ea;
  margin: 0.5rem 0 0.2rem;
}

.client-card span {
  color: #888;
  font-size: 0.85rem;
}

